body {
  background-color: darksalmon;
}

#site-logo {
  max-height: 150px;
}
@keyframes title {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}
#title {
  font-size: 40pt;
  text-align: center;
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* transform: rotateY(230deg); */
}
#subtitle {
  text-align: center;
}

button {
  min-width: 20%;
}
button:hover {
  background-color: darkslateblue;
  color: white;
}
#remove-button {
  min-height: 20%;
}

form {
  padding: 5px;
}

.teams-playing {
  text-align: center;
}

#append-odds {
  text-align: center;
  border: 2px dotted black;
  padding: 5px;
}

.away-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: red;
  padding: 3px;
}

.home-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: green;
  padding: 3px;
}
.draw-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: royalblue;
  padding: 3px;
}

.booknames {
  font-family: "Courier New", Courier, monospace;
}

#team-list {
  min-width: 45%;
}
#league-list {
  min-width: 45%;
}
