body {
  background-color: darksalmon;
}

#site-logo {
  max-height: 150px;
}
@keyframes title {
  from {
    margin-right: 0%;
    color: yellow;
  }
  to {
    margin-right: 10%;
    color: dimgray;
  }
}
#title-span {
  display: flex;
  flex-direction: wrap;
}
#title {
  font-size: 40pt;
  text-align: right;
  animation-name: title;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* transform: rotateY(230deg); */
}

#subtitle {
  text-align: center;
}

button {
  min-width: 20%;
}
button:hover {
  background-color: darkslateblue;
  color: white;
}
#remove-button {
  min-height: 20%;
}

form {
  padding: 5px;
}

.teams-playing {
  text-align: center;
}
#odds-below {
  text-align: center;
  border: 2px dotted black;
  padding: 5px;
}
#legend {
  text-align: center;
  padding: 5px;
}
#append-odds {
  text-align: center;

  padding: 5px;
}
@keyframes away-odds-slider {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 35%;
  }
}

@keyframes home-odds-slider {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 35%;
  }
}
.away-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: red;
  padding: 3px;

  animation-name: away-odds-slider;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.home-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: green;
  padding: 3px;

  animation-name: home-odds-slider;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.draw-odds {
  border-radius: 200px;
  margin: auto;
  margin-top: 3px;
  max-width: 30%;
  background-color: royalblue;
  padding: 3px;
}

.booknames {
  font-family: "Courier New", Courier, monospace;
}

#team-list {
  max-width: 45%;
  min-width: 30%;
}
#league-list {
  max-width: 45%;
  min-width: 30%;
}

#form-div {
}

@media screen and (max-width: 600px) {
  body {
    background-color: seagreen;
  }
  #title {
    font-size: 20pt;
  }
  #site-logo {
    max-width: relative;
    display: block;
    margin: auto;
    width: 50%;
  }
  #site-title {
    display: flex;
    flex-wrap: inherit;
    margin: 50%;
    text-align: center;
  }
  .away-odds {
    border-radius: 200px;
    margin: auto;
    margin-top: 3px;
    min-width: 15%;
    max-width: 30%;
    background-color: red;
    color: wheat;
    padding: 3px;
    text-align: center;
  }

  .home-odds {
    border-radius: 200px;
    margin: auto;
    margin-top: 3px;
    max-width: 30%;
    background-color: moccasin;
    padding: 3px;
  }
  .draw-odds {
    border-radius: 200px;
    margin: auto;
    margin-top: 3px;
    max-width: 30%;
    background-color: #31337c;
    color: thistle;
    padding: 3px;
  }

  .booknames {
    font-family: "Courier New", Courier, monospace;
  }
}
